@media (min-width: 576px) {
  .sm-text-5xl {
    font-size: 3rem;
    line-height: 1;
  }
  .sm-text-base {
    font-size: 1rem;
    line-height: 1.5rem;
  }
  .sm-h-80 {
    height: 20rem;
  }
  .sm-p-6 {
    padding: 1.5rem;
  }
  .sm--left-6 {
    left: -1.5rem;
  }
  .sm--bottom-6 {
    bottom: -1.5rem;
  }
  .sm-text-xl {
    font-size: 1.25rem;
    line-height: 1.75rem;
  }
  .sm-text-4xl {
    font-size: 2.25rem;
    line-height: 2.5rem;
  }
  .sm-px-8 {
    padding-left: 2rem;
    padding-right: 2rem;
  }
  .subtitle-glow::before {
    left: -80px;
    width: 4rem;
  }
  .subtitle-glow::after {
    right: -80px;
    width: 4rem;
  }
  .sm-w-14 {
    width: 3.5rem !important;
  }
  .sm-h-14 {
    height: 3.5rem !important;
  }
}
@media (min-width: 768px) {
  .md-bg-fixed {
    background-attachment: fixed;
  }
  .md-h-96 {
    height: 24rem;
  }
  .md-py-24 {
    padding-top: 6rem;
    padding-bottom: 6rem;
  }
  .md-mb-16 {
    margin-bottom: 4rem !important;
  }
  .subtitle-glow {
    font-size: 1rem;
  }
  .md-text-5xl {
    font-size: 3rem;
    line-height: 1rem;
  }
  .md-w-auto {
    width: auto !important;
  }
  .md-text-xl {
    font-size: 1.25rem !important;
    line-height: 1.75rem !important;
  }
  .md-text-2xl {
    font-size: 1.5rem !important;
    line-height: 2rem !important;
  }
  .icon-box {
    width: 4rem !important;
    height: 4rem !important;
  }
  .g-col-md-3 {
    grid-column: span 3;
  }
  .g-col-md-6 {
    grid-column: span 6;
  }
}
@media (min-width: 992px) {
  .border-lg-hidden {
    border: none !important;
  }
  .lg-text-6xl {
    font-size: 3.75rem;
    line-height: 1;
  }
  .g-col-lg-3 {
    grid-column: span 3;
  }
}
@media (min-width: 1200px) {
}

@media (max-width: 576px) {
  html {
    font-size: 14px;
  }
}
@media (min-width: 576px) and (max-width: 768px) {
  html {
    font-size: 15px;
  }
}
