/* ================== Utilities text & background colors================= */
:root {
  --bs-primary-rgb: 203, 254, 28 !important;
  --bs-primary: #cbfe1c !important;
  --bs-dark-rgb: 11, 14, 19 !important ;
  --bs-dark: #0b0e13 !important;
  --bs-light-rgb: 241, 241, 241 !important;
  --bs-light: #f1f1f1 !important;
  /* Grays */
  --gray-50: #fbf9fa;
  --gray-300: #d1d5dc;
  --gray-400: #9ca3af;
  --gray-600: #4a5565;
  --gray-700: #364153;
  --gray-800: #1e2939;
  --gray-900: #101829;
  /* greens */
  --green-400:#05df72;
}
/* Grays */
.bg-gray-700 {
  background-color: var(--gray-700);
}
.bg-gray-800 {
  background-color: var(--gray-800);
}
.text-gray-300 {
  color: var(--gray-300);
}
.text-gray-400 {
  color: var(--gray-400);
}
/* ================== Utilities Border colors ================= */
.border-gray-600 {
  border-color: var(--gray-600) !important;
}
.border-gray-700 {
  border-color: var(--gray-700) !important;
}
.border-gray-800 {
  border-color: var(--gray-800) !important;
}
/* ================== Utilities text sizes & line height ================= */
.text-xs {
  font-size: 0.75rem !important;
  line-height: 1rem !important;
}
.text-sm {
  font-size: 0.875rem !important;
  line-height: 1.25rem !important;
}
.text-lg {
  font-size: 1.125rem !important;
  line-height: 1.5rem !important;
}
.text-3xl {
  font-size: 1.875rem;
  line-height: 2.25rem;
}
.text-4xl {
  font-size: 2.25rem;
  line-height: 2.5rem;
}
.leading-tight {
  line-height: 1.25 !important;
}
/* ======================= Utilities Border raduis ====================== */
.rounded-full {
  border-radius: 9999px;
}
.rounded-xl {
  border-radius: 0.75rem;
}
/* ========================= Utilities padding =========================== */
.p-8 {
  padding: 2rem;
}
.pt-8 {
  padding-top: 2rem;
}
.tw-py-3 {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
}
.py-16 {
  padding-top: 4rem;
  padding-bottom: 4rem;
}
.py-20 {
  padding-top: 5rem;
  padding-bottom: 5rem;
}
.py-24 {
  padding-top: 6rem;
  padding-bottom: 6rem;
}
/* ========================= Utilities Margin =========================== */
.mx-auto {
  margin: auto;
}
.mt-8 {
  margin-top: 2rem;
}
.tw-mb-3 {
  margin-bottom: 0.75rem;
}
.mb-8 {
  margin-bottom: 2rem;
}
/* ============================= Utilities Gap =========================== */
.gap-8 {
  gap: 2rem;
}
/* ============================= Utilities duration =========================== */
.duration-300 {
  transition: 0.3s all;
}
.duration-200 {
  transition: 0.2s all cubic-bezier(0.4, 0, 0.2, 1);
}
.duration-500 {
  transition: 0.5s all;
}
/* ============================= Utilities Box shadow =========================== */
.shadow-xl {
  box-shadow:
    0 20px 25px -5px rgba(0, 0, 0, 0.1),
    0 8px 10px -6px rgba(0, 0, 0, 0.1) !important;
}
/* ========================= Utilities Width & height ======================= */
.w-12 {
  width: 3rem !important;
}
.h-12 {
  height: 3rem !important;
}
.h-64 {
  height: 16rem;
}
.h-80 {
  height: 20rem;
}
/* ========================= Utilities Grid system ======================= */
.grid-system-12 {
  grid-template-columns: repeat(12, 1fr);
}
.g-col-6 {
  grid-column: span 6;
}
.g-col-12 {
  grid-column: span 12;
}
/* =========================== Common Classes ======================== */
.cursor-pointer {
  cursor: pointer;
}
.z-max {
  z-index: 1090;
}
.bg-neon-gradient {
  background: linear-gradient(to right, var(--bs-primary), var(--green-400));
}
.max-w-7xl {
  max-width: 80rem;
}
